<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th><strong>Name:</strong></th>
          <th><strong>Last name:</strong></th>
          <th> <strong>Email:</strong></th>
        </tr>

      </thead>
      <tbody>
        <td>
          <%= @worker.name %>
        </td>

        <td>
          <%= @worker.last_name %>
        </td>

        <td>
          <%= @worker.email %>
        </td>


      </tbody>

    </table>
    <%= link_to 'Edit', edit_worker_path(@worker) %> |
    <%= link_to 'Back', workers_path %>
  </div>
  <div class="col-md-6">
    <p id="notice"><%= notice %></p>
    <% @worker.proyects.each do |proyect| %>
    <table class="table">
      <thead>
        <tr>
          <th> <strong> Proyect Name:</strong></th>
          <th> <strong>Content</strong></th>
        </tr>
      </thead>
      <tbody>
        <td>
          <%= proyect.name %>
        </td>
        <td>
          <%= proyect.content %>
        </td>
      </tbody>

      <% end %>

    </table>

  </div>
</div>


<div class="row">
  <div class="col-md-6">
<br>
<br>
    <table class="table">
      <thead>
        <tr>
          <th><strong> Proyect disponible:</strong></th>
          <th> <strong>Content</strong></th>
        </tr>
      </thead>
      <tbody>
        <% @proyects.each do |proyect|  %>
        <td>
          <%= proyect.name %>
        </td>
        <td>
          <%= proyect.content %>
        </td>
      </tbody>
      <% end %>
    </table>
  </div>


</div>
